.footer {
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
    background-color: var(--blue-dark);
    display: grid;
    gap: var(--big-gap);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    * {
        color: white;
    }

    .logo-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        user-select: none;

        svg {
            max-width: 128px;
            height: 100%;
        }
    }
    
    .contacts-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        gap: var(--medium-gap) var(--big-gap);
        
        display: grid;
        justify-content: start;
        align-items: center;
        align-content: end;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        a {
            text-decoration: none;
        }

        .zambia-phone {
            grid-column: 1 / 2;
        }

        .uk-phone {
            grid-column: 2 / 3;
        }

        .email {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }
    
    .social-media-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--small-gap);

        .link {
            svg {
                max-width: 32px;
                height: 100%;
            }
        }
    }
    
    .menu-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: start;
        align-items: end;
        align-content: end;
        gap: var(--small-gap);

        .menu-link {
            text-decoration: none;
            color: var(--yellow);
            font-weight: 600;
        }
    }
    
    .all-rights-reserved-container {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {

        .logo-container {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .contacts-container {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            gap: var(--small-gap);
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            justify-content: center;
            align-items: center;
            text-align: center;

            .zambia-phone {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            .uk-phone {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            .email {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }

        .social-media-container {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            justify-content: center;
        }

        .menu-container {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            flex-direction: column;
            align-items: center;
            gap: var(--extra-small-gap);
        }

        .all-rights-reserved-container {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            text-align: center;
        }
    }
}