/* Global */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    section {
      overflow-x: clip;
    }
  
    header, section, footer {
      padding-left: var(--side-padding-for-sections);
      padding-right: var(--side-padding-for-sections);
    }
  
    section {
      padding-top: var(--very-big-gap);
      padding-bottom: var(--very-big-gap);
    }

    button {
        border: none;
        box-shadow: none;

        width: 200px;
        /* padding: var(--medium-gap); */
        min-height: 48px;
        background-color: var(--yellow);
        border-radius: var(--border-radius);
        color: black;
        font-size: var(--body-font-size);
        font-family: "font-2";
        font-weight: 300;
        cursor: pointer;
        transition: background-color var(--transition);

        &:hover {
            background-color: var(--blue-dark);
            color: white;
        }
    }
}

/* TYPOGRAPHY */

* {
    h1, h2, h3, h5, h6, p, span, a, div, ul {
        color: var(--normal-text);
        line-height: 1.5;
    }

    h1 {
        font-size: var(--h1-font-size);
        text-align: center;
        font-family: "font-1";
        font-weight: 600;
        padding-bottom: var(--big-gap);
        user-select: none;
    }

    h2 {
        font-size: var(--h2-font-size);
        text-align: left;
        font-family: "font-1";
        font-weight: 600;
        padding-bottom: var(--big-gap);
        user-select: none;
    }

    h3 {
        font-size: var(--h3-font-size);
        font-family: "font-2";
        font-weight: 500;
        padding-top: var(--small-gap);
        padding-bottom: var(--small-gap);
    }

    p, a, span, div, label, input {
        font-size: var(--body-font-size);
        font-family: "font-2";
        font-weight: 300;
    }
}

@font-face {
    font-family: 'font-1';
    src: local("Georgia"), local("Times New Roman"), local("Palatino Linotype"), local("Book Antiqua");
    font-family: 'font-1', serif;
}

@font-face {
    font-family: "font-2";
    src: local("Helvetica Neue"), local("Times New Roman"), local("Palatino Linotype"), local("Book Antiqua");
}

/* Variables */

:root {
    --header-height: 12vh;
    --max-content-width: 1200px;
    --side-padding-for-sections: max(5vw, calc((100vw - var(--max-content-width)) / 2));
    --very-big-gap: 64px;
    --big-gap: 32px;
    --medium-gap: 16px;
    --small-gap: 8px;

    --h1-font-size: 53px;
    --h2-font-size: 46px;
    --h3-font-size: 24px;
    --body-font-size: 16px;

    --transition: 0.3s;
    --border: 0.5px solid black;
    --border-2: 2px solid var(--yellow-2);
    --border-radius: 16px;
    --border-white: 1px solid white;
    --border-black: 1px solid var(--normal-text);

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.237);

    --blue-light: #3B7AE1;
    --blue-dark: #25418E;
    --yellow: #FCC241;
    --yellow-2: #ffee5abe;

    --normal-text: #000000;

    @media only screen and (max-width: 768px) {
        --h1-font-size: 44px;
        --h2-font-size: 32px;
        --h3-font-size: 20px;
        --body-font-size: 18px;
        --very-big-gap: 48px;
        --big-gap: 24px;
        --medium-gap: 12px;
        --small-gap: 6px;
        --side-padding-for-sections: 2vw;
        --header-height: 8vh;
    }

    @media only screen and (max-width: 480px) {
        --h1-font-size: 44px;
        --h2-font-size: 32px;
        --h3-font-size: 20px;
        --body-font-size: 18px;
        --very-big-gap: 48px;
        --big-gap: 24px;
        --medium-gap: 12px;
        --small-gap: 6px;
        --side-padding-for-sections: 8vw;
    }
}

