.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--blue-light);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);

    .logo-link {
        display: flex;
        align-items: center;
        height: 100%;

        & .logo-image {
            height: 100%;
        }
    }

    .menu-container {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: var(--big-gap);

            .menu-item.mobile-only {
                display: none;
            }

            .menu-link {
                text-decoration: none;
                color: white;
        
                display: block;
                cursor: pointer;
            }
    
            .button {

                a, p {
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    color: black;
                }

                &:hover {
                    a, p {
                        color: white;
                    }
                }
            }
    }

    .hamburgerContainer {
        display: none;
    }

    @media only screen and (max-width: 768px) {

            .menu-container {
                display: none;
                    .menu-item.mobile-only {
                        display: block;
                    }
            }
            
            /* Reveal menu on hamburger click */
            &:has(.hamburgerCheckbox:checked) .menu-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--big-gap);
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                background-color: var(--blue-light);

                .headerMenuLink {
                     font-size: 34px;
                }
            }
            
            .headerMenuItem.visibleForMobileOnly {
                display: block;
            }
    
            .hamburgerContainer {
                --hamburgerWidth: 50px;
                --hamburgerHeight: 25px;
                --hamburgerLineColor: white;
                --hamburgerTransition: var(--transition);
                display: block;
                z-index: 4;
                
                .hamburgerIcon {
                    height: var(--hamburgerHeight);
                    width: var(--hamburgerWidth);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
        
                    .hamburgerLine {
                        background: var(--hamburgerLineColor);
                        display: block;
                        height: 2px;
                        width: var(--hamburgerWidth);
                        transition: var(--hamburgerTransition);
                    }
                }
                .hamburgerCheckbox {
                    display: none;
                    &:checked ~ #headerMenu {
                        max-height: none;
                        height: 90vh;
                        position: absolute;
                        top: 10vh;
                        left: 0;
                        width: 100vw;
                        display: flex;
                        justify-content: center;
                        background-image: linear-gradient(white,#ffffff);
                    }
                    &:checked ~ .hamburgerIcon .hamburgerLine {
                        &.two {
                            background: transparent;
                        }
                        &.one {
                            transform: translateY(calc(var(--hamburgerHeight) / 2 - 2px)) rotate(45deg);
                        }
                        &.three {
                            transform: translateY(calc(var(--hamburgerHeight) / 2 * (-1))) rotate(-45deg);
                        }
                    }
                }
            }
        }
}
    
body:has(.hamburgerCheckbox:checked) {
    overflow: hidden;
}


