.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--blue-light);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo-link {
        display: flex;
        align-items: center;

        & .logo-image {
            height: 8vh;
        }
    }

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        .button {
            a {
                color: black;

            }
            &:hover {
                a {
                    color: white;
                }
            }
        }

        @media only screen and (min-width: 481px) {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        @media only screen and (max-width: 480px) {
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
        }
    }

    & li a {
        text-decoration: none;
        color: white;

        display: block;
        cursor: pointer;
        user-select: none;

        @media only screen and (max-width: 480px) {
            padding: 0.5rem;
            text-align: center;
        }
    }

    @media only screen and (max-width: 768px) {
        padding: 0.5rem;

        ul {
            gap: 1rem;
        }
    }

    @media only screen and (max-width: 480px) {
        padding: 0.5rem;
    }
}