.home {

  .hero {
    display: none;

    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding: 0;
    
    .contentContainer {

      min-height: calc(100vh - var(--header-height));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      padding-left: var(--side-padding-for-sections);
      padding-right: var(--side-padding-for-sections);

      background: linear-gradient(rgba(0, 0, 0, 0.256), rgba(0, 0, 0, 0.335)), url('../images/hero-section-background-image.jpg'); /* Dark tint overlay */
      background-position: center;
      background-size: cover;

      .textContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: var(--medium-gap);

        p {
          color: white;
        }

        h3 {
          color: var(--yellow);
        }

      }
    }
  }

  .top-rated-destinations {
    display: none;
    background-color: var(--blue-dark);

    h2 {
        color: var(--yellow);
    }

    .content-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        --photo-width: 80px; 
        height: 300px;

        .dashed-line {
            position: absolute;
            top: 0;
            left: calc(var(--side-padding-for-sections) * (-1));
            height: 100%;
            width: 100vw;
        }

      .item-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--big-gap);

        background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
        backdrop-filter: blur(5px); /* Slight blur effect for glass-like appearance */
        border-radius: var(--border-radius);
        height: fit-content;
        max-width: 250px; /* Adjust width as needed */
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3); /* Inset shadow for recessed effect */

        p {
          color: white;
        }

        .item-image {
            width: var(--photo-width);
            position: fixed;
        }
        
        &.victoria-falls {
            top: -20px;
            
            .item-image {
                top: 0;
                right: calc(var(--photo-width) / 2 * (-1));
            }
        }
        
        &.south-luangwa {
            top: calc(var(--photo-width));
            right: 100px;
            .item-image {
                top: calc(var(--photo-width) / 2 * (-1));
                right: calc(var(--photo-width) / 2 * (-1));
            }
        }
        
        &.low-zambezi {
            top: calc(var(--photo-width) * 0.8);
            .item-image {
                top: calc(var(--photo-width));
                right: calc(var(--photo-width) / 3 * (-1));
            }
        }
        
        &.kafue {
            top: -40px;
            .item-image {
                top: calc(var(--photo-width));
                right: calc(var(--photo-width) / 3 * (-1));
            }
        }
        
      }
    }
  }

  .our-services {
    background-color: var(--yellow);
    position: relative;
    z-index: 0;
    display: none;

    .coffee-bean-container {
        z-index: 1;
        position: absolute;

        svg {
            path {
                fill: var(--yellow-2);
            }
        }

        &.one {
            top: 0;
            right: 0;
        }

        &.two {
            top: 300px;
            left: 0;
        }

        &.three {
            bottom: 0;
            right: -40vw;
        }
    }
    
    h2 {
        position: relative;
        color: var(--blue-dark);
        z-index: 2;
    }

    .content-container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--big-gap);

        .item-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;


            gap: var(--big-gap);
            background-color: white;
            border-radius: var(--border-radius);
            
            .image-container {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                align-self: center;
                height: 100%;
                max-width: 200px;

                .image {
                    border-radius: var(--border-radius);
                    height: 100%;
                    width: auto;
                }
            }
            

            .text-container {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                p, h3 {
                    color: var(--blue-light);
                }
            }

            .button {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                width: 150px;
                height: 50px;
                background-color: var(--blue-light);
                color: white;
                justify-self: end;
            }
        }
    }
  }

  .reviews {
    background-color: var(--yellow);
    position: relative;
    z-index: 0;
    display: none;

    .coffee-bean-container {
        position: absolute;
        z-index: 1;

        svg {
            path {
                fill: var(--yellow-2);
            }
        }

        &.four {
            bottom: -400px;
            left: 0;
        }
    }

    h2 {
        color: var(--blue-dark);
        position: relative;
        z-index: 3;
    }

    .content-container {
        position: relative;
        z-index: 3;
        display: flex;
        gap: var(--big-gap);
        justify-content: center;
        
        .review-card {
            display: flex;
            flex-wrap: wrap;
            gap: var(--medium-gap);
            background-color: #fafafab5;
            padding: var(--big-gap);
            border-radius: var(--border-radius);
            
            .stars-container {
                display: flex;
                justify-content: end;
                width: 100%;
            }

            .quote-icon {
                width: 100%;
                display: flex;
                justify-content: end;
            }

            .reviewer-container {
                display: flex;
                align-items: center;
                width: 100%;
                gap: var(--medium-gap);

                .image-container {
                    height: 50px;

                    .reviewer-image {
                        height: 100%;
                    }
                }
            }
            
            * {
                color: #454545;
            }
            
        }
    }
  }

  .advantages {
    display: none;
    background-color: var(--blue-dark);

    h2 {
        color: var(--yellow);
    }

    .content-container {
        display: flex;
        gap: var(--big-gap);
        flex-wrap: wrap;

        .advantage-container {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            gap: 0 var(--medium-gap);
            max-width: 350px;

            .icon-container {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                display: flex;
                align-items: center;
            }

            .name {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                color: var(--yellow);
                font-size: 24px;
                align-self: center;
            }

    
            .description {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                color: white;
            }

        }

    }
    
    * {
        /* border: 1px solid red; */
    }

  }

  .reservation {
    background: url('../images/reservation-background.jpg');
    background-size: cover;
    background-position: center;

    h2 {
        color: white;
        text-align: center;
    }
  }

}



