.reservation-form {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    
    .form-container {
        max-width: 850px;
        background-color: var(--blue-dark);
        padding: var(--big-gap);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--big-gap);
    }
  
    .form-row {
        input, select, textarea {
            padding: var(--medium-gap);
            border: var(--border-white);
            border-radius: var(--border-radius);
            background-color: transparent;
            color: white;
            font-size: var(--body-font-size);
            font-family: "font-2";
            font-weight: 300;
        }

        input::placeholder, textarea::placeholder {
            color: white;
            opacity: 0.7;
        }

        .label-and-line-container {
            display: flex;
            align-items: center;
            margin-bottom: var(--small-gap);

            h3 {
                color: white;
                padding-right: var(--medium-gap);
                flex-shrink: 0;
            }

            .line {
                width: 100%;
                height: 1px;
                background-color: white;
            }

            .circle {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: white;
                flex-shrink: 0;
            }
        }

        &.personal-details {
            .inputs-container {
                display: flex;
                align-items: center;
                gap: var(--big-gap);

                .input-container {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    input {
                        flex: 1;
                    }
                }
            }
        }

        &.payment-method {
            .radio-group {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: var(--medium-gap);
                row-gap: 0;
                user-select: none;

                label {
                    display: flex;
                    align-items: center;
                    gap: var(--small-gap);
                    font-size: var(--body-font-size);
                    font-family: "font-2";
                    font-weight: 300;
                    color: white;
                }

                input[type="radio"] {
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border: var(--border-white);
                    border-radius: 50%;
                    position: relative;
                    cursor: pointer;

                    &:checked::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        background-color: white;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &.service-type {
            select {
                /* appearance: none; */
                background-repeat: no-repeat;
            }
        }

        &.pick-up {
            .inputs-container {
                /* display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr; */
                display: flex;
                flex-wrap: wrap;
                gap: var(--big-gap);

                .label-and-input-container {
                    display: flex;
                    justify-content: start;
                    gap: var(--big-gap);
                    align-items: center;

                    label {
                        color: white;
                        flex-shrink: 0;
                    }
                }
            }
        }

        &.special-requests {
            .label-and-input-container {
                display: flex;
                align-items: center;
                gap: var(--big-gap);

                label {
                    color: white;
                }

                textarea {
                    width: 100%;
                }
            }
        }
    }
    
    .button-container {
        width: 100%;
        display: flex;
        justify-content: end;

        .button:hover {
            background-color: var(--blue-light);
        }
    }

    @media only screen and (max-width: 768px) {

        .form-container {
            width: 100%;
        }

        .form-row {
            grid-template-columns: 1fr;

            .label-and-line-container {
                /* flex-direction: column; */
                /* align-items: flex-start; */
                /* margin-bottom: var(--small-gap); */

                .line {
                    /* width: 100%; */
                }
            }

            &.personal-details {
                .inputs-container {
                    flex-direction: column;
                    gap: var(--medium-gap);

                    .input-container {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }
                }
            }

            &.payment-method {
                .radio-group {
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: var(--medium-gap);
                }
            }

            &.service-type {
                select {
                    width: 100%;
                }
            }

            &.pick-up {
                .inputs-container {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    gap: var(--medium-gap);

                    .label-and-input-container {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: var(--small-gap);

                        label {
                            margin-bottom: var(--extra-small-gap);
                            white-space: nowrap;
                        }

                        input {
                            width: 100%;
                        }
                    }
                }
            }

            &.special-requests {
                .label-and-input-container {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--small-gap);

                    textarea {
                        min-width: 0;
                        width: 100%;
                        min-height: 100px;
                    }
                }
            }
        }

        .button-container {
            justify-content: center;
            margin-top: var(--medium-gap);

            .button {
                width: 100%;
                max-width: 200px;
            }
        }
    }
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */


.legalConsentCheckboxContainer {

    .legalConsentCheckbox {
        margin-right: var(--medium-gap);
    }

    .legalConsentLabel {
        color: white;

        a {
            color: white;
        }
    }
}



.dialog {

    * {
        user-select: none;
    }

    &[open] {
        border: var(--border);
        border-radius: var(--border-radius);
        background-color: white;
        padding: var(--medium-gap);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        min-width: 50vw;
        min-height: 50vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--big-gap);
    }
    .dialogCloseButton {
        position: absolute;
        top: var(--medium-gap);
        right: var(--medium-gap);
        border: var(--border);
        background-color: var(--surface);
        display: flex;
    }
    &::backdrop {
        animation-name: dialogBackdropAnimation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .dialogText {
        text-align: center;
        font-size: 22px;
    }
}