.services {


    .our-services {

        background-color: var(--yellow);
        position: relative;
        z-index: 0;
        

        .coffee-bean-container {
            z-index: 0;
            position: absolute;

            svg {
                path {
                    fill: var(--yellow-2);
                }
            }

            &.one {
                top: 0;
                right: 0;
            }

            &.two {
                top: 300px;
                left: 0;
            }

            &.three {
                bottom: -60vh;
                right: -40vw;
            }
        }
        
        h2 {
            position: relative;
            color: var(--blue-dark);
            z-index: 2;
        }

        .content-container {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--big-gap);

            .item-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;


                gap: var(--big-gap);
                background-color: white;
                border-radius: var(--border-radius);
                
                .image-container {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    align-self: center;
                    height: 100%;
                    max-width: 200px;

                    .image {
                        border-radius: var(--border-radius);
                        height: 100%;
                        width: auto;
                    }
                }
                

                .text-container {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;

                    p, h3 {
                        color: var(--blue-light);
                    }
                }

                .button {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    width: 150px;
                    height: 50px;
                    background-color: var(--blue-light);
                    color: white;
                    justify-self: end;
                }
            }
        }


    @media only screen and (max-width: 768px) {

        .content-container {

            .item-container {

                display: flex;
                flex-direction: column;
                
                .image-container {

                    max-width: 100%;
                    width: 100%;
                    
                    .image {

                        width: 100%;
                    }
                }

                .text-container {
                    padding: var(--big-gap);
                }
                
                .button {
                    margin-bottom: var(--big-gap);
                    align-self: center;
                }
            }
        }
    }


    }

    .reservation {
        background-color: var(--yellow);

        h2 {
            position: relative;
            z-index: 3;
            color: var(--blue-dark);
        }
    }
}